In [1]:
#Heteroscedasticity refers to data for which the variance of 
#the dependent variable is unequal across the range of independent variables.

In [2]:
#Heteroscedasticity means unequal scatter. In regression analysis, 
#heteroscedasticity/homoscadastidity talks about residuals or error term.

In [3]:
#Homoscedasticity refers to the difference between predicted and observed values
#of an experiment being constant for any random variables considered.

In [4]:
import pandas as pd

In [5]:
data=pd.read_csv('preprocessedData.csv')

In [6]:
data.isna().sum()

gender            0
ssc_b             0
hsc_b             0
hsc_s             0
degree_t          0
workex            0
specialisation    0
status            0
sl_no             0
ssc_p             0
hsc_p             0
degree_p          0
etest_p           0
mba_p             0
salary            0
dtype: int64

# T test unpaired

In [7]:
#(other-central board) condition (salary)
#diff group          same condition
#independent - Unpaired T- test

In [8]:
data

,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed,1.0,67.00,91.00,58.00,55.0,58.80,270000.000000
1,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed,2.0,79.33,78.33,77.48,86.5,66.28,200000.000000
2,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed,3.0,65.00,68.00,64.00,75.0,57.80,250000.000000
3,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed,4.0,56.00,52.00,52.00,66.0,59.43,288655.405405
4,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed,5.0,85.80,73.60,73.30,96.8,55.50,425000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed,211.0,80.60,82.00,77.60,91.0,74.49,400000.000000
211,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed,212.0,58.00,60.00,72.00,74.0,53.62,275000.000000
212,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed,213.0,67.00,67.00,73.00,59.0,69.72,295000.000000
213,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed,214.0,74.00,66.00,58.00,70.0,60.23,204000.000000
214,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed,215.0,62.00,58.00,53.00,89.0,60.22,288655.405405

In [9]:
data[data['hsc_b']=='Others'] ['salary']

0      270000.000000
1      200000.000000
5      288655.405405
6      288655.405405
12     288655.405405
           ...
210    400000.000000
211    275000.000000
212    295000.000000
213    204000.000000
214    288655.405405
Name: salary, Length: 131, dtype: float64

In [10]:
from scipy.stats import ttest_ind
others= data[data['hsc_b']=='Others'] ['salary']
central = data[data['hsc_b']=='Central'] ['salary']

ttest_ind(others,central)

Ttest_indResult(statistic=-0.09117578929975474, pvalue=0.9274385986418501)

In [11]:
#it shows 92% difference, no similarity/vast difference in the salary of both others and central board students.

In [12]:
data[data['hsc_s']=='Commerce']['etest_p']

0      55.00
4      96.80
6      74.28
8      91.34
9      54.00
       ...
207    88.56
209    67.00
210    91.00
212    59.00
213    70.00
Name: etest_p, Length: 113, dtype: float64

# T test paired

In [13]:
#commerence and mba_P & etest_p
#same group     differ conditions
# Dependent - Paired T-test

In [14]:
from scipy.stats import ttest_ind
etest=data[data['hsc_s']=='Commerce']['etest_p']
mba = data[data['hsc_s']=='Commerce']['mba_p']
ttest_ind(etest,mba)

Ttest_indResult(statistic=7.079422262550767, pvalue=1.844299454870846e-11)

In [15]:
#it shows that commerce group mark in both test varies a lot.

# Analysis of Variance - ANOVA

In [16]:
#one way classification
 
import scipy.stats as stats
stats.f_oneway(data['ssc_p'],data['hsc_p'],data['degree_p'])

F_onewayResult(statistic=0.6719700864663097, pvalue=0.5110602818995302)

In [ ]:
#Two wayclassification
#formula = 'len ~ C(supp) + C(dose) + C(supp):C(dose)'
#model = ols(formula, data).fit()
#aov_table = anova_lm(model, typ=2)

In [18]:
import scipy.stats as stats
stats.f_way(data['ssc_p'],data['hsc_p'],data['degree_p'])

AttributeError: module 'scipy.stats' has no attribute 'f_way'